<!DOCTYPE HTML>
<html ng-app="evenireApp">
	<head>
		<title>Evenire Gallery</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<!--[if lte IE 8]><script src="js/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="css/main.css" />
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie8.css" /><![endif]-->
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie9.css" /><![endif]-->
		<noscript><link rel="stylesheet" href="css/noscript.css" /></noscript>
	</head>
	<body  ng-controller="evenireGallery as gallery" class="is-loading-0 is-loading-1 is-loading-2">
		<!-- Main -->
			<div id="main">
				<!-- Header -->
					<header id="header">
						<h1>Gallery</h1>
						<p>Incredible Memories of Evenire's</p>
						<ul class="icons">
							<li><a href="https://twitter.com/rwt_shipra" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
							<li><a href="https://www.instagram.com/rawat.shipra/" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
							<li><a href="https://github.com/rwt-shipra" class="icon fa-github"><span class="label">Github</span></a></li>
							<li><a href="mailto:rawatshipra15@gmail.com" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
						</ul>
					</header>

				<!-- Thumbnail -->
					<section id="thumbnails">
						<article ng-repeat="image in images">
							<a class="thumbnail" href="images/fulls/01.jpg" ng-click="show(image)" data-position="left center">ss
								<img src="images/thumbs/01.jpg" alt="" /></a>
							<h2>Wedding In Church</h2>
							<p></p>
						</article>	
					</section>

					<div id="viewer"><div class="inner"><div class="nav-next"></div><div class="nav-previous"></div><div class="toggle"></div></div><div class="slide active"><div class="caption"><h2>Wedding In Church</h2><p></p></div><div class="image" style="background-image: url(&quot;images/fulls/01.jpg&quot;); background-position: 0% 50%;"></div></div></div>
					
				<!-- Footer -->
					<footer id="footer">
						<ul class="copyright" ng-controller="evenireController as controller">
						<li>{{copy_right}}</li>
						</ul>
					</footer>

			</div>

		<!-- Scripts -->
			<script src="js/jquery.min.js"></script>
			<script src="js/skel.min.js"></script>
			<!--[if lte IE 8]><script src="assets/js/ie/respond.min.js"></script><![endif]-->
			<script src="js/main.js"></script>
			<script src="js/angular.min.js"></script>
    		<script src="js/controller.js"></script>
	</body>
</html>